
$color-text: #3d3d3d;
$color-text-heading: #3d3d3d;
$color-primary: #ff7a1c;
$color-primary-lighter: lighten($color-primary, 10%);
$color-good-text: #00820d;
$color-bad-text: #820006;

$absolute-margin: .75em;

$table-border : 1px solid #eee;

$spinner-offset: 187;
$spinner-duration: 1.4s;

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: $color-text;
}
main {
  padding: 2em;
  width: 350px;
  text-align: center;
  position: relative;

  h1 {
    font-size: 1.25em;
    margin: 1.5em 0 1em 0;
    color: $color-text-heading;
  }
  h2 {
    font-size: 1.2em;
    color: $color-text-heading;
  }
  button {
    padding: .5em .75em;
    border: 1px solid $color-primary;
    font-weight: bold;
    cursor: pointer;
    color: $color-primary;
    background-color: #fff;

    &:hover {
      background-color: $color-primary;
      color: #fff;
    }

    &.refresh {
      position: absolute;
      top: 0;
      right: 0;
      margin: $absolute-margin $absolute-margin 0 0;
    }
    &.punch-button {
      display: none;
      margin-top: .5em;
      width: 100%;
      padding: 1em;
      text-transform: uppercase;
    }
  }
  p {
    font-size: 38px;
    margin: 0 0 .5em 0;
    position: relative;
    display: block;
    min-height: 45px;
  }
  a {
    color: $color-primary;
    text-decoration: none;
    margin: 0;
    padding: 0;

    &:hover {
      color: darken($color-primary, 10%);
    }
  }
  .full-site-link {
    display: block;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 $absolute-margin $absolute-margin 0;
  }

  .status-area {
    position: absolute;
    top: 0;
    left: 0;
    margin: .80em 0 0 $absolute-margin;

    span {
      text-transform: uppercase;
      font-size: 14px;
      color: #6b6b6b;

      &.status-in {
        color: $color-good-text;
        font-weight: bold;
      }
      &.status-out {
        color: $color-bad-text;
        font-weight: bold;
      }
    }
  }

  .timesheet {
    margin: 1em 0;
    display: none;

    .summary-table {
      display: flex;
      flex-wrap: wrap;
      border-top: $table-border;
      border-right: $table-border;

      .day-cell {
        flex: 0 0 20%;
        max-width: 20%;
        border-bottom: $table-border;
        border-left: $table-border;
        padding: .5em;

        &.today {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            right: 0;
            border-width: 5px;
            border-style: solid;
            border-color: $color-primary $color-primary transparent transparent;
          }
        }

        &.selected {
          background-color: $color-primary-lighter;
          color: #fff;

          &.today:after {
            border-color: #fff #fff transparent transparent;
          }
        }

        &:hover {
          background-color: $color-primary;
          color: #fff;
          cursor: pointer;
        }

        span {
          display: block;
          text-align: center;
          font-size: 12px;
        }
        .weekday {
          text-transform: uppercase;
        }
        .date {
          font-weight: bold;
          padding: .25em 0;
        }
        .total-hours {
          font-size: 10px;
        }
      }
    }

    .punch-card {
      display: none;
      border: 1px solid $color-primary-lighter;
      border-top: none;

      .header {
        padding: 1em 0;
        font-size: 12px;
        background-color: $color-primary-lighter;
        color: #fff;

        .left {
          float: left;
          margin-left: 1em;
        }
        .right {
          float: right;
          margin-right: 1em;
        }

        &:after {
          content: '';
          display: table;
          clear: both;
        }
      }
      .punch-table-wrap {
        max-height: 135px;
        overflow-y: auto;
      }
      .punch-table {
        display: table;
        width: 100%;

        .punch-row {
          display: table-row;
          width: 100%;

          > div {
            display: table-cell;
            font-size: 12px;
            padding: 1em;
            text-align: left;
            border-top: $table-border;
            color: $color-primary;

            &.col-which {
              text-transform: uppercase;
            }

            &.col-time {
              text-align: right;
            }
          }
        }

        .no-punches {
          padding: 2em 1em;
          display: block;
          text-transform: uppercase;
          color: #666;
          font-size: 14px;
        }
      }
    }
  }
}

.load-overlay {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#fff, 0.75);
  backdrop-filter: blur(3px);

  .msg {
    position: absolute;
    top: 15%;
    padding: 2em;
    text-align: center;
    font-size: 18px;

    &.error {
      color: $color-bad-text;
    }
    &.success {
      color: $color-good-text;
    }
  }
}

// spinner
.spinner-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  animation: rotator $spinner-duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke: $color-primary;
  stroke-dasharray: $spinner-offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $spinner-duration ease-in-out infinite;
}


@keyframes dash {
  0% { stroke-dashoffset: $spinner-offset; }
  50% {
    stroke-dashoffset: $spinner-offset/4;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: $spinner-offset;
    transform:rotate(450deg);
  }
}