* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #3d3d3d;
}

main {
  padding: 2em;
  width: 350px;
  text-align: center;
  position: relative;
}
main h1 {
  font-size: 1.25em;
  margin: 1.5em 0 1em 0;
  color: #3d3d3d;
}
main h2 {
  font-size: 1.2em;
  color: #3d3d3d;
}
main button {
  padding: .5em .75em;
  border: 1px solid #ff7a1c;
  font-weight: bold;
  cursor: pointer;
  color: #ff7a1c;
  background-color: #fff;
}
main button:hover {
  background-color: #ff7a1c;
  color: #fff;
}
main button.refresh {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.75em 0.75em 0 0;
}
main button.punch-button {
  display: none;
  margin-top: .5em;
  width: 100%;
  padding: 1em;
  text-transform: uppercase;
}
main p {
  font-size: 38px;
  margin: 0 0 .5em 0;
  position: relative;
  display: block;
  min-height: 45px;
}
main a {
  color: #ff7a1c;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
main a:hover {
  color: #e86000;
}
main .full-site-link {
  display: block;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 0.75em 0.75em 0;
}
main .status-area {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.8em 0 0 0.75em;
}
main .status-area span {
  text-transform: uppercase;
  font-size: 14px;
  color: #6b6b6b;
}
main .status-area span.status-in {
  color: #00820d;
  font-weight: bold;
}
main .status-area span.status-out {
  color: #820006;
  font-weight: bold;
}
main .timesheet {
  margin: 1em 0;
  display: none;
}
main .timesheet .summary-table {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}
main .timesheet .summary-table .day-cell {
  flex: 0 0 20%;
  max-width: 20%;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  padding: .5em;
}
main .timesheet .summary-table .day-cell.today {
  position: relative;
}
main .timesheet .summary-table .day-cell.today:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  border-width: 5px;
  border-style: solid;
  border-color: #ff7a1c #ff7a1c transparent transparent;
}
main .timesheet .summary-table .day-cell.selected {
  background-color: #ff984f;
  color: #fff;
}
main .timesheet .summary-table .day-cell.selected.today:after {
  border-color: #fff #fff transparent transparent;
}
main .timesheet .summary-table .day-cell:hover {
  background-color: #ff7a1c;
  color: #fff;
  cursor: pointer;
}
main .timesheet .summary-table .day-cell span {
  display: block;
  text-align: center;
  font-size: 12px;
}
main .timesheet .summary-table .day-cell .weekday {
  text-transform: uppercase;
}
main .timesheet .summary-table .day-cell .date {
  font-weight: bold;
  padding: .25em 0;
}
main .timesheet .summary-table .day-cell .total-hours {
  font-size: 10px;
}
main .timesheet .punch-card {
  display: none;
  border: 1px solid #ff984f;
  border-top: none;
}
main .timesheet .punch-card .header {
  padding: 1em 0;
  font-size: 12px;
  background-color: #ff984f;
  color: #fff;
}
main .timesheet .punch-card .header .left {
  float: left;
  margin-left: 1em;
}
main .timesheet .punch-card .header .right {
  float: right;
  margin-right: 1em;
}
main .timesheet .punch-card .header:after {
  content: '';
  display: table;
  clear: both;
}
main .timesheet .punch-card .punch-table-wrap {
  max-height: 135px;
  overflow-y: auto;
}
main .timesheet .punch-card .punch-table {
  display: table;
  width: 100%;
}
main .timesheet .punch-card .punch-table .punch-row {
  display: table-row;
  width: 100%;
}
main .timesheet .punch-card .punch-table .punch-row > div {
  display: table-cell;
  font-size: 12px;
  padding: 1em;
  text-align: left;
  border-top: 1px solid #eee;
  color: #ff7a1c;
}
main .timesheet .punch-card .punch-table .punch-row > div.col-which {
  text-transform: uppercase;
}
main .timesheet .punch-card .punch-table .punch-row > div.col-time {
  text-align: right;
}
main .timesheet .punch-card .punch-table .no-punches {
  padding: 2em 1em;
  display: block;
  text-transform: uppercase;
  color: #666;
  font-size: 14px;
}

.load-overlay {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(3px);
}
.load-overlay .msg {
  position: absolute;
  top: 15%;
  padding: 2em;
  text-align: center;
  font-size: 18px;
}
.load-overlay .msg.error {
  color: #820006;
}
.load-overlay .msg.success {
  color: #00820d;
}

.spinner-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke: #ff7a1c;
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

/*# sourceMappingURL=style.css.map */
